
/*! Responsive menu
version: 0.2.1
*/

/*
Suggested HTML:
<a class="rm-toggle rm-button rm-nojs" href="#">Menus</a>
<nav class="rm-nav rm-nojs rm-lighten">
	<ul> ...

Theme class options: rm-lighten(as illustrated above), rm-darken.
rm-lighten theme lightens menu item backgrounds.
rm-darken theme darkens menu item backgrounds.
Set menu background color to any color
to work with the chosen theme.
*/

/* Set menu background color here */
.rm-nav ul,
.rm-menu {
    margin-top: 0;
}

/* Required styles =========================================================== */

/* Add clearfix to nav element container*/
.rm-container:after {
    content: " ";
    display: table;
    clear: both;
}

/* Toggle Link styles */
.rm-toggle {
    display:  none;
    float: right;
    padding: 0 .75em;
    margin: 24px;
    height: 2em;
    line-height: 2em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(128, 128, 128); /* fallback */
    background-color: rgba(128, 128, 128, .5);
}
.rm-toggle.rm-show {
    display: inline-block;
}

/* Toggle Button styles */
.rm-toggle.rm-button {
    /* Use data uri */
    /* Or use png */
    background-image:url(../images/menu-icon.jpg);
    background-size: 40px 32px;
	background-repeat:no-repeat;
	background-position:center center;
    padding: 0;
	width: 2.5em;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* Menu Container Element */
.rm-nav {
    clear: both;
}

/* Menu Element */
.rm-nav > ul,
.rm-top-menu {
    clear: both;
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
    zoom: 1;
}

/* Menu & Sub Menu Items */
.rm-nav li,
.rm-menu-item {
    position: relative;
}
.rm-nav li a,
.rm-menu-item a {
    display: block;
    position: relative;
    text-decoration: none;
}

/* Sub Menus */
.rm-nav li ul,
.rm-menu-item .rm-menu {
    width: 100%;
    padding:0;
    margin-left: 0;
    list-style: none;
    z-index: 500;
    zoom: 1;
}
.rm-nav .rm-hover ul,
.rm-nav .rm-hover .rm-menu {
    z-index: 600;
}

/* Sub Menu Items */
.rm-nav li li a,
.rm-menu-item .rm-menu-item a {
    z-index:500;
    padding-left: 2em;
}
.rm-nav li li.rm-last a,
.rm-menu-item .rm-menu-item.rm-last a {
    padding-bottom: 1em;
}
.rm-nav li li ul,
.rm-menu-item .rm-menu-item .rm-menu {
    position: static;
}

.rm-nav li li li a,
.rm-menu-item .rm-menu-item .rm-menu-item a {
    z-index:600;
    padding-left: 3em;
}

/* CSS Animations ============================================================= */
.rm-accelerate {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility:hidden;
    -webkit-perspective: 1000;
}
.rm-css-animate {
    display: block;
    max-height: 0;
    overflow: hidden;
}
.rm-css-animate.rm-menu-expanded {
    overflow: visible;
}

/* Theme styles ============================================================= */



.rm-toggle:hover,
.rm-toggle:focus {
    outline: none;
}


/* No JS Styles ============================================================= */

/* Hide Sub Menus */
.no-js .rm-nav li ul,
.rm-nojs li ul,
.no-js .rm-nav .rm-menu-item .rm-menu,
.rm-nojs .rm-menu-item .rm-menu {
    position: absolute;
    left: -999em;
}
.rm-toggle.rm-nojs {
    display: inline-block;
    visibility: hidden;
}

/* Expanded layout if JS not supported */
/* Note: The min-width value here should match minWidth value set in JS */
@media screen and ( min-width: 769px ) {

    .rm-nojs > ul > li,
    .no-js .rm-nav > ul > li,
    .rm-nojs > .rm-menu > .rm-menu-item,
    .no-js .rm-nav > .rm-menu > .rm-menu-item {
        float: left;
    }

    .rm-nojs li a,
    .no-js .rm-nav li a,
    .rm-nojs .rm-menu-item a,
    .no-js .rm-nav .rm-menu-item a {
        padding-left: 1em;
    }

    /* clearfix */
    .rm-nojs > ul:before,
    .rm-nojs > ul:after,
    .no-js .rm-nav > ul:before,
    .no-js .rm-nav > ul:after,
    .rm-nojs > .rm-menu:before,
    .rm-nojs > .rm-menu:after,
    .no-js .rm-nav > .rm-menu:before,
    .no-js .rm-nav > .rm-menu:after{
        content: " ";
        display: table;
    }
    .rm-nojs > ul:after,
    .no-js .rm-nav > ul:after,
    .rm-nojs > .rm-menu:after,
    .no-js .rm-nav > .rm-menu:after {
        clear: both;
    }
    .rm-toggle.rm-nojs {
        display: none;
    }
}

/* Calculation Styles ============================================================
 * Applied and removed by jQuery during menu height calculations
 */

.rm-calculate {
    position: absolute !important;
    max-height: none !important;
    overflow: visible !important;
}
.rm-layout-contracted .rm-calculate {
    width: 100% !important;
}

/* Accessibility ============================================================ */

.rm-container .accessibly-hidden {
    position: absolute;
    left: -999em;
}
